@color_text_dark: #333;
@color_text_light: #fff;

@color_bg_light: #fff;

@color_main: #61c1b9;
@color_main_dark: darken(@color_main, 20%);
@color_main_light: lighten(@color_main, 5%);

@gradient_main: linear-gradient(to right, #61c1b9, #a2cba4);

@color_error: rgb(248, 66, 66);

@color_border: rgba(0, 0, 0, .125);
@border_radius: 3px;

@font_family: 'Comfortaa', cursive;

// Layout 

@layout_margin: 15px;

// Functions

.transition () {
  transition: .2s;
}

.box-shadow () {
  box-shadow: 0 0 5px 0 rgba(210, 210, 210, 1);
}